<% unless user_signed_in? %>
<div class="hero-unit">
	<h1>Raindrops on Roses</h1>
		<p>Crowdsourcing Inspiration from
			<%= link_to "Art & Design &", "http://artanddesign.us" %>
		</p>
		<p>  
			<%= link_to "Post!", new_user_registration_path, class: "btn btn-primary btn-large" %> 
		</p>
</div>
<% end %>