<h1>about</h1>
<br>
<p>
	Invitational and crowdsourced endless page of art. Add one!
</p>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> is a project to teach
	<%= link_to "Ruby on Rails", 	
			"http://rubyonrails.org" %> in one month.
</p>

