<h1>about artstream</h1>
<br>
<p>
	An invitational and crowdsourced endless page of art. Dynamic collecive concioussness. Add yours!
</p>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> is a project to teach
	<%= link_to "Ruby on Rails", 	
			"http://rubyonrails.org" %> in one month.
</p>

