<h1>about artStream</h1>
<br>
<div class="row">
	<div class="span6">
		<p>
			An invitational and crowdsourced endless page of art. Dynamic collecive concioussness. Add yours! All muses are welcome. Users may edit or delete their pinned images or descriptions at any time.
		</p> 
		<p>
			<em>ArtStream</em> is moderated. We may remove Pins at our discretion.  Users accept all responsibility, rights, and permissions for their content. <em>ArtStream</em> content should not be found elsewhere on the web without permission and credit. We don't publish, share or sell Users' information, although, we may send an email to a User related to <em>ArtStream</em>.  
		</p>
		<p>
			Many thanks to Skillshare teacher Mattan Griffel. Thanks to first responders Cara, Norma Markley, joombah pete, and Jeffrey Cyphers Wright. 
		</p>
		<p>
			Thank you for participating in this pilot project. Use it to your advantage while creating a "quilt" of inspiration for others, as long as <em>ArtStream</em>. Pinning is free through 2013. More features coming.
		</p>
		<p>
			Lori Ortiz<br>
			Founder, Admin<br> 
			3.1.13
		</p>
	</div>
</div>


